body{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body {
    font-family: Arial, sans-serif ;
    background-color:rgb(207, 204, 193) ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 100vh ;
    overflow: hidden ;
}

.sub_container{
    width: 375px ;
    height: 667px ;
    background: #E9F3FF ;
    border-radius: 35px ;
    border : 10px solid rgb(179, 172, 163) ;
    justify-content: center ;
    align-items: center ;
    display : flex ;
    overflow: hidden ;
    position: relative ;
}

.skyblue_circle{
    width: 359px ;
    height: 359px ;
    flex-shrink: 0 ;
    border-radius: 359px ;
    background: #9DC8FF ;
}

#skyblue_top_circle{
    left : -110px ;
    top : -240px ;
    position : absolute ;
}

#skyblue_bottom_circle{
    left : 220px ;
    top : 550px ;
    position : absolute ;
}

.blue_circle{
    width : 466px ;
    height : 466px ;
    flex-shrink : 0 ;
    border-radius : 466px ;
    background : #0466c2;
}

#blue_top_circle{
    top : -400px ;
    left : 150px ;
    position : absolute ;
}

#blue_bottom_circle{
    top : 600px ;
    right : 50px ;
    position : absolute ;
}
nav{
    position : absolute ;
    top : -8px ;
    right : 20px ;
}

nav ul{list-style:none;z-index: 2;}
nav a{color: #0466c2;text-decoration: none;}
nav > ul{display: flex; justify-content: space-between; padding:10px;}
nav > ul > li{position: relative; padding: 0px ; margin : 0;}
nav > ul > li > a{font-size: 20px; font-weight: bold;padding:10px 0;}
nav > ul > li > a:hover{color:#cee3fe; border-radius: 15px;}
nav > ul > li > ul{display: none; position: absolute; text-align: center; align-content: center; transform: translateX(-70%);border-radius: 15px;background: #9DC8FF; font-family: 'LaundryGothic'; padding : 0; }
nav > ul > li:hover ul{display:block;}
nav > ul > li  li a{display: block; padding:10px;}
nav > ul > li  li a:hover{background:#cee3fe; border-radius: 15px;}
nav > ul > li > li + li{margin-top:5px;}

.btn_back {
    position: absolute;
    font-size: 16px;
    color: #0466c2;
    text-decoration: none;
    font-family: "LaundryGothic";
    top: 25px;
    left: 30px;
}
.dict_box{
    background-color: white;
    position: absolute;
    border-radius: 20px;
}

#top_box{
    width : 80%;
    height : 60px;
    top : 90px ;
    align-content: center;
    text-align: center;
    font-family: 'LaundryGothic';
}

.bar1{
    width: 260px;
    height: 7px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 4px solid rgba(255, 255, 255, 0.20);
    background: #D9D1C2;
    position : absolute;
    top : 180px;
    left : 10%
    
}

.pickup_box{
    position: absolute;
    top: 175px;
    right: 65px;
}

#box{
    width: 25px;
    height: 22px;
    flex-shrink: 0;
    position : absolute;
}

#circle{
    width: 6.969px;
    height: 7.482px;
    flex-shrink: 0;
    position: absolute;
    top: 8px;
    left: 9.02px;
}

#key_hole{
    width: 2.091px;
    height: 3.919px;
    flex-shrink: 0;
    position : absolute;
    top: 9.78px;
    left: 11.46px;
}
/* 도감 페이징 코드 */


#data-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    column-gap: 20px;
    width : 80%;
    height: 360px;
    align-items: center;
    justify-content: center;
    border: 3px solid #0466c2;
    background-color: #bbd8ff;
    border-radius: 32px;
    position: absolute;
    bottom: 60px;
    
}

#data-container img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 21px;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    font-size: 20px;
}

.page-item {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
    color: #0466c2;
    font-weight: bolder;
    border-radius: 20px;
}

.page-item:hover{
    background-color: #efefef;
}

.page-item:active{
    background-color: #8eaecc;
    color : white;
}

/* 비활성화된 버튼 스타일 */
.page-item.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: white;
}



@font-face{
    font-family: 'LaundryGothic' ;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff') ;
    font-weight : normal ;
    font-style: normal ;

}