body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(207, 204, 193);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 375px;
  height: 667px;
  background: whitesmoke;
  border-radius: 35px;
  border: 10px solid rgb(179, 172, 163);
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
}

.text_box {
  display: flex;
  width: 291px;
  padding: 107px 13px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  box-sizing: border-box;
}

#poketime {
  color: #1877f2;
  text-align: right;
  font-family: Inter;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container #skyblue_circle {
  width: 359px;
  height: 359px;
  flex-shrink: 0;
  border-radius: 359px;
  background: #9dc8ff;
  left: -110px;
  top: -240px;
  position: absolute;
}

.container #skyblue_circle2 {
  width: 359px;
  height: 359px;
  flex-shrink: 0;
  border-radius: 359px;
  background: #9dc8ff;
  left: 220px;
  top: 550px;
  position: absolute;
}

.container #blue_circle {
  width: 466px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 466px;
  background: #0466c2;
  top: 600px;
  right: 50px;
  position: absolute;
}

.container #blue_circle2 {
  width: 466px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 466px;
  background: #0466c2;
  top: -400px;
  left: 150px;
  position: absolute;
}
h3 {
  position: absolute;
  font-family: "LaundryGothic";
  color: #0466c2;
}

#login_text {
  top: 190px;
  right: 280px;
}

.container #skyblue_circle {
  width: 359px;
  height: 359px;
  flex-shrink: 0;
  border-radius: 359px;
  background: #9dc8ff;
  left: -110px;
  top: -240px;
  position: absolute;
}

.container #skyblue_circle2 {
  width: 359px;
  height: 359px;
  flex-shrink: 0;
  border-radius: 359px;
  background: #9dc8ff;
  left: 220px;
  top: 550px;
  position: absolute;
}

.container #blue_circle {
  width: 466px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 466px;
  background: #0466c2;
  top: 600px;
  right: 50px;
  position: absolute;
}

.container #blue_circle2 {
  width: 466px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 466px;
  background: #0466c2;
  top: -400px;
  left: 150px;
  position: absolute;
}

.container #input_container {
  width: 280px;
  justify-content: center;
  justify-items: center;
}

#forget_pw {
  position: absolute;
  top: 330px;
  font-size: 10px;
  right: 46px;
  font-family: "LaundryGothic";
  color: #0466c2;
}

hr {
  position: absolute;
  background-color: #1877f2;
  width: 70%;
  height: 1px;
  border: 0 solid;
  margin-left: auto;
  margin-right: auto;
  bottom: 200px;
}

#login_suggest {
  position: absolute;
  background-color: whitesmoke;
  font-size: 10px;
  font-family: "LaundryGothic";
  color: #1877f2;
  bottom: 184px;
  width: 120px;
  padding: 5px;
  align-items: center;
  text-align: center;
}

#join_word {
  /* position: absolute; */
  font-size: 12px;
  bottom: 42px;
  left: 90px;
  color: #0466c2;
  text-decoration: none;
  font-family: "LaundryGothic";
}

#join_page {
  /* position: absolute; */
  font-size: 16px;
  bottom: 40px;
  right: 90px;
  color: #0466c2;
  text-decoration: none;
  font-family: "LaundryGothic";
}

.btn_back {
  position: absolute;
  font-size: 16px;
  color: #0466c2;
  text-decoration: none;
  font-family: "LaundryGothic";
  top: 30px;
  left: 30px;
}

.input_inform {
  /* position: absolute; */
  width: 90%;
  height: 20px;
  border-radius: 5px;
  border: 2px #9dc8ff solid;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  font-family: "LaundryGothic";
  margin-top: 1rem;
}

@font-face {
  font-family: "LaundryGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#nick_name {
  top: 200px;
  padding: 10px;
}

#sign_word {
  top: 125px;
  left: 45px;
}

#join_email {
  top: 250px;
  padding: 10px;
}

#join_password {
  top: 300px;
  padding: 10px;
}

#join_password_check {
  top: 350px;
  padding: 10px;
}

#btn_join {
  bottom: 210px;
  width: 100%;
  /* position: absolute; */
  background: #1877f2;
  border-radius: 5px;
  border: 0 solid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: "LaundryGothic";
  font-weight: 700;
  word-wrap: break-word;
  cursor: pointer;
  padding: 10px;
  margin-top: 1rem;
}

#login_word {
  position: absolute;
  font-size: 12px;
  bottom: 42px;
  left: 90px;
  color: #0466c2;
  text-decoration: none;
  font-family: "LaundryGothic";
}

#login_page {
  position: absolute;
  font-size: 16px;
  bottom: 40px;
  right: 90px;
  color: #0466c2;
  text-decoration: none;
  font-family: "LaundryGothic";
}

.container #result_login_nick,
#result_login_email,
#result_login_pw,
#result_login_pwck {
  color: red;
  font-family: Interop;
  font-size: 0.9rem;
  letter-spacing: -1px;
}

@font-face {
  font-family: "LaundryGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Interop";
  src: url("https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.container .input_inform {
  color: #1877f2;
  outline-color: #1877f2;
}
