<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/dict_style.css" />
  </head>
  <body>
    <div class="sub_container">
      <div class="skyblue_circle" id="skyblue_top_circle"></div>
      <div class="skyblue_circle" id="skyblue_bottom_circle"></div>
      <div class="blue_circle" id="blue_top_circle"></div>
      <div class="blue_circle" id="blue_bottom_circle"></div>

      <nav>
        <ul>
          <li>
            <a href="#">
              <img
                src="../../public/images/setting_img.svg"
                id="start_setting"
              />
            </a>
            <ul>
              <li><a href="/management">Setting</a></li>
              <li><a href="/user/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <a href="./mainpage" class="btn_back">< 뒤로</a>
      <div class="dict_box" id="top_box">
        {{ userInfo.poke_count }}개의 포켓몬을 수집했어요!
      </div>
      <div class="bar1"></div>
      <div class="pickup_box">
        <img src="../../public/images/random_box.svg" id="box" />
        <div>
          <img src="../../public/images/yellowcircle.svg" id="circle" />
          <div>
            <img src="../../public/images/key.svg" id="key_hole" />
          </div>
        </div>
      </div>
      <div id="data-container"></div>
      <div id="pagination"></div>
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage" />
        <div id="caption"></div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../../public/js/dict.js"></script>
  </body>
</html>
