<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/login_styles.css" />
    <link
      rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div id="skyblue_circle"></div>
      <div id="blue_circle2"></div>
      <h3 id="login_text">로그인</h3>
      <div id="login_container">
        <input type="text" placeholder="이메일" name="id" id="login_email" />
        <div id="result_login_email"></div>
        <input
          type="password"
          placeholder="비밀번호"
          name="pw"
          id="login_password"
          0
        />
        <div id="result_login_password"></div>
        <!-- <h3 id="forget_pw">비밀번호를 잊으셨나요?</h3> -->
        <!--      Show/hide password  -->
        <span>
          <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
        </span>
        <input
          type="submit"
          id="btn_login"
          name="frm_submit"
          value="로그인"
          onclick="handleLogin()"
        />
      </div>
      <!-- <hr> -->
      <!-- <h4 id="login_suggest">이렇게도 로그인 할 수 있어요</h4> -->
      <a href="/join" id="join_word">아직 계정이 없으신가요?</a>
      <a href="/join" id="join_page">회원가입</a>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../../public/js/login.js"></script>
  </body>
</html>
